body{

background-color: burlywood;



}

footer{

text-align: center;
color: rgb(241, 14, 14);


}

section{


    color: rgb(189, 132, 132);
}

ul{

color: rgb(114, 30, 15);

}


h1{

color: navy;

}



a{
text-decoration:none ;

}

h4{
color:black;



}

nav{

text-align: right;

}